<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div *ngIf="auth.user$ | async; then authenticated else guest">
        
</div>

<ng-template #guest>
<div style="width:50%; float:left;margin-left:3%;">
<img src="./assets/OIP.jfif" width="80%" >
</div>
<div clss="sign" style="width:50%;float:left;margin-top:15%;position:absolute;left:50%;margin-left:-10%;text-align:center;">
    <h1>SIGN IN WITH GOOGLE</h1>
    
    <button style="padding:10px;" (click)="auth.googleSignin()">
        <i class='fab fa-google-plus-g'></i> Login with Google+
    </button>
 </div>

</ng-template>


<ng-template #authenticated>

<button class="btn" style="width:9%;padding: 8px 15px;background-color: red;color: white;" (click)="auth.signOut()">Logout</button>

<div *ngIf="lines.length == 0">
    <div class="input-area" *ngIf="auth.user$ | async as user">
        <h2>Addess Text File</h2>
        <input type="file" id="inp" (change)="fileChanged($event)" required><BR>
        <button style="margin-top:25px;" (click)="uploadDocument()">ADD FILE</button>
        
    </div>
    </div>


    <app-home *ngIf="lines.length > 0" [addressArray] = "lines"></app-home>
</ng-template>
