.btn{
  float:right;
  margin-right: 20%;
  margin-top:5%;
}

.input-area{
  position:absolute;
  top:20%;
  left:20%;
}

.input-area button{
  padding: 8px 20px;
  background-color: black;
  color: white;
}